<div class="b-footer">
				<div class="navigation">
					<div class="neg-bac">NEVIGATION</div>
					<ul>
						<li><a href="">MAIN</a></li>
						<li><a href="">PRODUCTS</a></li>
						<li><a href="">SERVICE</a></li>
						<li><a href="">PARTENER</a></li>
						<li><a href="">CONTACT</a></li>
					</ul>
				</div>
			</div>
