<div class="h-header">
					<img src="img/biao.png" />
					<div class="spread">
						<div class="line"></div>
					</div>
					<ul class="ul">
						<li><a href="/">MAIN</a></li>
						<li><a href="product">PRODUCTS</a></li>
						<li><a href="service">SERVICE</a></li>
						<li><a href="product">PARTENER</a></li>
						<li><a href="contact">CONTACT</a></li>
					</ul>
			</div>