.b-footer{
			width: 100%;
			height: 300px;
			background: rgba(0,0,0,0.9);
			margin-top: 100px;
		}
		.navigation{
			width: 100%;
			height: 100%;
		}	
		.navigation .neg-bac{
			line-height:100px ;
			padding-left: 13%;
			width: 50%;
			height: 20%;
			color: white;
		}	
		.navigation ul{
			width: 50%;
			height: 80%;
			float: left;
			margin-bottom: 0;
			}
		.navigation li{
			list-style: none;
			font-size: 13px;
			width: 70%;
			height: 15%;
			margin-left: 30%;
			float: left;
			}	
		.navigation li:first-child{
			margin-top: 30px;
			}	
		.navigation li a{
			color: rgba(150,150,150,0.8);;
			}	
			
			
			.panel{
				z-index: 50;
			transition: 0.3s;
			display: none;
			position: absolute;
			width: 70%;
			left: 50%;
			top: 110px;
			margin-left: -35%;
			background: rgba(255,255,255,0.6);
			}
		.panel ul{
			width: 100%;
			} 
		.panel li{
			float: left;
			text-align: left;
			color: black;
			margin: 20px 0;
			box-sizing: border-box;
			width: 33.3%;
			}
		.panel li dd{
			color: black;
			font-size: 12px;
			font-weight: 400;
			padding-left: 10px;
			margin-top: 10px;
			}
		.panel li dt{
			font-weight: 600;
			padding: 10px 10px;
			font-size: 15px;
		}	
			
			
			
			
.h-header{
			overflow: auto;
			box-sizing: border-box;
			width: 100%;
		}
		.h-header img{
			display: block;
			width: 10%;
			height: 30px;
			padding-right: 6%;
			float: left;
			margin-left: 50px;
			margin-top: 25px;
		}
		.h-header li{
			display: block;
			font-family: "微软雅黑";
			cursor: pointer;
			text-align: center;
			color: black;
			font-weight: 700;
			float: right;
			width: 100px;
			height: 40px;
			line-height: 40px;
			margin: 20px 20px;
		}
		.h-header li a{
			font-size: 17px;
		}
		.h-header ul{
			display: block;
			}
		.spread{
			width: 50px;
			height: 50px;
			float: right;
			margin-top: 20px;
			display: none;
		}
		.line{
			margin-top: 12.5px;
			margin-left: 10px;
			padding: 5px 0;
			background-color: black;
			background-clip:content-box;
			border-top:5px solid black ;
			border-bottom:5px solid black;
			width: 30px;
			height: 5px;
		}	
@media only screen and (max-width: 1000px) {
			.h-header ul{
				display: none;
			}
			.panel>ul{
				display: none;
			}
			.spread{
				border-radius:5px ;
			width: 50px;
			height: 50px;
			float: right;
			margin: 20px 20px;
			display: block;
		}
			.h-header li{
			text-align: center;
			color: black;
			font-weight: 700;
			width: 100%;
			float: left;
			margin: 0;
			height: 20px;
			line-height: 20px;
		}
		}				
